{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Registration Page</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Archivo.css' %}">
    <link rel="stylesheet" href="{% static 'css/Login-Form-Basic-icons.css' %}">
</head>

<body style="background: url('{% static 'img/9548273.jpg' %}');">
    <div class="container" style="position: absolute; left: 0; right: 0; top: 50%; transform: translateY(-50%); -ms-transform: translateY(-50%); -moz-transform: translateY(-50%); -webkit-transform: translateY(-50%); -o-transform: translateY(-50%);">
        <div class="row d-flex d-xl-flex justify-content-center justify-content-xl-center">
            <div class="col-sm-12 col-lg-10 col-xl-9 col-xxl-7 bg-white shadow-lg" style="border-radius: 5px;">
                <div class="p-5">
                    <div class="text-center">
                        <h4 class="text-dark mb-4">Address Information</h4>
                    </div>

    <form method="post">
        {% csrf_token %}

        <!-- Address fields -->
        <h4>Address Information</h4>
        {{ address_form.as_p }}

<button type="submit" class="btn btn-primary d-block btn-user w-100" id="submitBtn">Proceed to Register</button>
    </form>

                    <div class="text-center"></div>
                    <div class="text-center">
                        <a class="small" href="{% url 'Beneficiary:log' %}" style="border-color: rgb(51, 51, 51);">Already a beneficiary? Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>

