{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Registration Page</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Archivo.css' %}">
    <link rel="stylesheet" href="{% static 'css/Login-Form-Basic-icons.css' %}">
</head>

<body style="background: #0060c4;">
    <section>
        <div style="height: 183px;"></div>
        <div class="container" style="background: rgba(247,247,247,0);">
            <div class="col">
                <div style="height: 69px;"></div>
                <h1 class="text-center" style="color: rgb(255,255,255);font-family: Archivo, sans-serif;font-weight: bold;font-size: 44px;border-color: rgb(255,255,255);">Congratulations!</h1>
                <p class="text-center" style="font-size: 23px;font-family: Archivo, sans-serif;color: rgb(198,198,198);">You are now officially a beneficiary of HopeHarbor. We're thrilled to have you on board and look forward to making a positive impact together.</p>
            </div>
        </div>
    </section>
<script src="{% static 'js/bootstrap.min.js' %}"></script></body>

</html>